<app-navbar></app-navbar>

<div>
  <h3>debug:</h3>

  @for (user of users; track user.name){
    <p>{{user.name}}</p>
  }
  
  <button (click)="fetchUsers()">Fetch all users</button>

  <p>{{boardGame.name}}</p>

  <button (click)="getABoardGameById()">Get Vabanque game</button>

  <div *ngFor="let bg of boardGame2; index as i; first as isFirst">
    <app-boardgame-cell [boardgame]="bg"></app-boardgame-cell>
  </div>

  <button (click)="getABoardGameByName()">Get Catan game(s)</button>
</div>

<br>
<br>
<br>
<br>
<br>

<div>
  <p>Boardgame cell:</p>
  <div class="hot-games-list" *ngIf="hotGames">
    <div *ngFor="let bg of hotGames; index as i; first as isFirst">
      <app-boardgame-cell [boardgame]="bg"></app-boardgame-cell>
    </div>
  </div>
</div>