.main-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container{
    background-color: rgb(251, 242, 226);
    padding: .5rem;
    padding-bottom: 0;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.title-container h4{
    margin: 0;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.title-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    background-color: rgb(248, 234, 209);
}