.main-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img{
    width: 10rem;
    height: 6rem;
    object-fit:cover;
    border-radius: .4rem;
}

.image-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-container h5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: .3rem;
    inline-size: 150px;
    overflow-wrap:break-word;
}

.title-container{
    display: flex;
    width: fit-content;
    flex-direction: column;

    width: 100%;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}