body {
    font-family: GraphikWeb,-apple-system,BlinkMacSystemFont,Segoe UI,Hiragino Sans,Meiryo,sans-serif,ColorEmojisystem-ui;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    width: fit-content;
    color: black;
}

.root-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 clamp(1rem, 8vw, 8rem);
    width: 100%;
    box-sizing: border-box;
}