body {
    font-family: GraphikWeb,-apple-system,BlinkMacSystemFont,Segoe UI,Hiragino Sans,Meiryo,sans-serif,ColorEmojisystem-ui;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
    width: fit-content;
    color: black;
}